[ -f "$HOME/.envrc" ] && source_env $HOME || true

export ROOT_PROJECT="$(dirname "$(readlink -f "${BASH_SOURCE[0]}")")"

pyversion=3.6.8
pvenv=dbcut

# Select python version
use python ${pyversion}

# Create the virtualenv if not yet done
layout virtualenv ${pyversion} ${pvenv}

# activate virtualenv
layout activate ${pvenv}-${pyversion}
