
include CONTRIBUTING.rst
include CHANGES.md

include README.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include requirements *.txt
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
