language: minimal

services:
  - docker

before_install:
- if [ ! -z ${DOCKER_USERNAME} ]; then docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD || true; fi

env:
{% for pipeline in pipelines -%}
  - {{ pipeline.env }}
{% endfor -%}

before_script:
  - make docker-build

script:
  - make docker-test

after_script:
  - make docker-cleanup
