language: minimal

services:
  - docker

env:
{% for pipeline in pipelines -%}
  - {{ pipeline.env }}
{% endfor -%}

before_script:
  - make docker-build

script:
  - make docker-test

after_script:
  - make docker-cleanup
